<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        {{>body}}
        Página não encontrada
        {{>footer}}
    </body>

    <script src="./js/app.js"></script>
</html>