<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        {{>body}}
        <form>
            <input type="text" placeholder="Digite o nome da cidade ou localidade" id="search"/>
            <button>Temperatura</button>
        </form>
        <p id="temp"></p>
        <p id="location"></p>
        {{>footer}}
        <script src="./js/app.js"></script>
    </body>
</html>