<nav id="navbar" role="navigation" class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">                        
                <a class="nav-link" href="/" title="Home">
                    <span class="fas fa-home"></span> Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about" title="About">
                    <span class="fas fa-info-circle"></span> About
                </a>
            </li>
            
        </ul>
        <span class="navbar-text">
            <span class="text-muted">2020 - <a href="http://efsh.github.io/">{{name}}</a> copyright &copy; All rights reserved</span>
        </span>
    </div>
</nav>